<nav>
	<div class="navbar navbar-default">	
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/"><%= image_tag "Core.png", class: "img-responsive, nav_image" %></a>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="/global/about">About</a></li>
				<li><a href="/global/what_we_do">What We Do</a></li>
				<li><a href="/global/impact">Impact</a></li>
				<li><a href="/global/work_with_us">Work With Us</a></li>
				<li><a href="/global/public">Public</a></li>
				<li><a href="/charities/home"><span class="nav-highlights">Charities</span> Sign-Up/Login</a></li>
				<li><a href="/corporates/home"><span class="nav-highlights">Corporate</span> Sign-Up/Login</a></li>
			</ul>
		</div>
	</div>
</nav>