<div class="container" id="global_home">
	<div class="row">
		<div class="col-sm-3">
			<h3>Working together with <span class="green-highlight">compassion</span> and <span class="green-highlight">innovation</span></h3>
		</div>
	</div>

	<div class="text-center">
		<a href="/global/public" class="btn btn-large btn-success" type="submit">Funding Projects</a>
	</div>

	<div class="footer">
		<h4>CoreDonate works with charities, corporations and organizations worldwide to match shared interests and reach a common goal with empathy and action.</h4>
		<div class="text-center"><h2> CoreDonate is powered by </h2><p>
		<%= image_tag "aws.png", class: "img-responsive, nav_image" :width => 200 %><%= image_tag "radix.jpg", class: "img-responsive, nav_image" %>
		</div>
	</div>
</div>