<div class="container" id="global_home">
	<div class="row">
		<div class="col-sm-3">
			<h3>Working together with <span class="green-highlight">compassion</span> and <span class="green-highlight">innovation</span></h3>
		</div>
	</div>

	<div class="text-center">
		<button class="btn btn-large btn-success" type="submit">Funding Projects</button>
	</div>

	<div class="footer">
		<h4>CoreDonate works with charities, corporations and organizations worldwide to match shared interests and reach a common goal with empathy and action.</h4>
		<div class="text-center"> CoreDonate is powered by<p>
		<%= image_tag "aws.png", class: "img-responsive, nav_image" %><%= image_tag "radix.jpg", class: "img-responsive, nav_image" %>
		</div>
	</div>
</div>