<div class="container" id="global_non_profits_we_love">
	<div class="row">
		<div class="col-sm-3">
			<h2>Collections</h2>
			<ul>
				<li><a href="/global/non_profits_we_love">Non-profits We Love</a></li>
				<li><a href="#">Trending</a></li>
				<li><a href="#">Just Launched</a></li>
			</ul>

			<h2>Categories</h2>
			<ul>
				<li><a href="#">Education</a></li>
				<li><a href="#">Medical</a></li>
				<li><a href="#">Domestic Welfare</a></li>
				<li><a href="#">Community</a></li>
				<li><a href="#">Homelessness</a></li>
			</ul>
		</div>

		<div class="col-sm-9">
			<h2>Home</h2>

			<%= image_tag("templates/CD_public_page.png") %>
		</div>
	</div>
</div>