<div class="container" id="global_public">
	<div class="row">
		<div class="col-sm-3">
			<h2>Collections</h2>
			<ul>
				<li><a href="/global/non_profits_we_love">Non-profits We Love</a></li>
				<li><a href="#">Trending</a></li>
				<li><a href="#">Just Launched</a></li>
			</ul>

			<h2>Categories</h2>
			<ul>
				<li><a href="#">Education</a></li>
				<li><a href="#">Medical</a></li>
				<li><a href="#">Domestic Welfare</a></li>
				<li><a href="#">Community</a></li>
				<li><a href="#">Homelessness</a></li>
			</ul>
		</div>

		<div class="col-sm-9">
			<h2>Autism Treatment of America</h2>

			<p>Welcome to the Autism Treatment Center of America&trade;, the worldwide teaching center for The Son-Rise Program&reg;, a powerful and effective treatment for children and adults challenged by Autism, Autism Spectrum Disorders, Pervasive Development Disorder(PDD), Asperger's Syndrome, and other development difficulties.</p>

			<h3>The Run Rise Program</h3>

			<p>With over 30 years of experience working with more than 25,000 parents, children, and professionals from over 85 different countries, we understand that autism is, at its core, a social relational disorder. Fundamentally, our children, regardless of whether they are not yet verbal or have Asperger's Syndrome, have difficulty connecting to, relating to, and communicating with others. Sure, our children may have behaviors that look different, but these are symptons, not causes, and trying to stamp them out is not the answer.</p>

			<div class="row subrows">
				<div class="col-sm-4 col-sm-offset-1">
					<h3>Did you know?</h3>
					<p>Autism now affects...</p>

					<div class="row">
						<div class="col-sm-6">
							<h4>1 in 68 Children</h4>
						</div>

						<div class="col-sm-6">
							<h4>1 in 42 Boys</h4>
						</div>
					</div>

					<p>Autism costs a family...</p>
					<h4>$60,000</h4>
					<p>a year on average</p>
				</div>

				<div class="col-sm-4 col-sm-offset-1">
					<h3>How you can help</h3>

					<ul>
						<li>Learn about Autism</li>
						<li>Go the Extra Mile</li>
						<li>Be A Good Listener</li>
						<li>Caring for the caregiver</li>
						<li>Acceptance Strengthens Friendships</li>
						<li>Be Inclusive!</li>
						<li>"Walk in Our Shoes"</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>