@import "bootstrap-sprockets";
@import "bootstrap";
@import "nav";
@import "global";
@import "charities";

body { 
	background: url(./background.jpg) no-repeat center center fixed; 
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	#global_public, #charities_home {
		background-color: white;
	}
}

h2, h3, h4 {
	color: white;
}