@import "bootstrap-sprockets";
@import "bootstrap";
@import "nav";
@import "global";

body { 
	background: url(./background.jpg) no-repeat center center fixed; 
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	#global_public {
		background-color: black;
	}
}

h2, h3, h4 {
	color: white;
}