#global_home {
	ul {
		list-style-type: none;
	}

	button {
		margin-top: 10em;
	}

	.btn {
		font-size: 18px;
		padding: 18px 36px;
	}

	.footer {
		margin-top: 10em;
	}

	.green-highlight {
		color: #b1ff9a;
	}
}