#global_home {
	ul {
		list-style-type: none;
	}

	button {
		margin-top: 10em;
	}

	.btn {
		font-size: 18px;
		padding: 18px 36px;
	}

	.footer {
		margin-top: 10em;
	}

	.green-highlight {
		color: #b1ff9a;
	}
}

#global_public {
	h2, h3 {
		color: lightblue;
	}

	h4 {
		color: initial;
	}

	ul {
		list-style-type: none;

		li > a {
			color: green;
		}
	}

	.col-sm-9 {
		border-left: thin solid black;
	}

	.subrows p {
		color: green;
	}
}